# Build artifacts
*.egg-info
*.pex

# Cache files
__pycache__/*
*.pyc

# Development SQLite database
*.sqlite3

# Pip output
/pip-*.json

# Virtualenv Files
/bin/*
/include/*
/lib*
/share/*
/build/*
/dist/*

# Pyenv messiness?
pyvenv.cfg

# Non-git hidden files
.*
!.git*
