# Build artifacts
*.egg-info
*.pex
bin/melody

# Cache files
__pycache__/*
*.pyc

# Development SQLite database
*.sqlite3

# Virtualenv Files
/bin/*
/include/*
/lib*
/share/*

# Pyenv messiness?
pyvenv.cfg

# Non-git hidden files
.*
!.git*
