<html>
  <html>
    <title>melody</title>

    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

    <style>
      body {
        font-family: 'Didact Gothic', sans-serif;
        font-size: 1.4em;
      }

      main {
        margin: 0 0 0 3rem;
        max-width: 42rem;
      }

      main > section > header ~ * {
        margin-left: 1rem;
      }
    </style>
  </html>

  <body>
    <main>
      <section>
        <header>
          <h3>Melody</h3>
        </header>

        {% block content %}{% endblock content %}
      </section>
    </main>
  </body>
</html>
